
/*ALL PAGES*/

.header-global-page{
    background-color: #630000;
    
}

.navigation-global .nav-link, 
.navigation-global a.brand-name, 
.navigation-global.navbar-light 
.navbar-nav .nav-link {
    color: #EEEBDD;
}

.tree-icon{
    position: absolute;
    top: 7px;
    font-size: 2rem;
}

.snowflake-icon{
    position: relative;
    top: -14px;
    left: 8px;
}

.logo-wrap{
    color:#EEEBDD;
}

.body-global{
    background-color: #EEEBDD;
    font-family: "Montserrat";
}

a.brand-name{
    font-family: "Mountains of Christmas";
}




.footer{
    background-color: #630000;
    padding: 70px 0;
    font-family: 'Montserrat', cursive;
    line-height: 1.5;   
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 250px;
    
}
.container{
    max-width: 1170px;
    background-color: #630000;
    margin: auto;
    
    
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
   
}

.raw{
    display: flex;
    flex-wrap: wrap ;
}

.footer-column{
    width: 33% ;
    padding: 0 15px;
    
}

.footer-column h3{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 550;
    position: relative;
    
}

.footer-column h3::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-column ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-column ul li{
    color: BurlyWood;
}
.footer-column ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    color:#bbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-column ul li a:hover{
    color:white;
    padding-left: 10px;
}


.footer-column .links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    
}

.footer-column .links a:hover{
    color: white;
    padding-left: 2px;
    background-color: blue;
}



@media(max-width: 574px){
    .footer-column{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-column{
        width: 100%;
        
    }
}