body {
  background-color: #eeebdd;
  /* background-image: url("/Assets/blog/snowheader.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.padding {
  padding: 1rem;
}
.brand-name {
  font-family: "Mountains of Christmas";
}
header {
  width: 100%;
}
.container_diy {
  /* width: min(97%, 1000px); */
  width: 100%;
  margin-inline: auto;
  justify-content: center;
}
.container_diy p {
  font-family: "montserrat";
}
.red_bg {
  background-color: #173611;
  color: #eeebdd;
}
h1 {
  font-family: "Mountains of Christmas";
}

.card-img-top {
  border: 5px solid black;
  height: 360px;
}

.container-fluid {
  display: flex;
}
.carousel-style {
  display: flex;
}

/* #carouselExampleDark {
  height: auto;
} */
.h-carousel {
  font-family: "Mountains of Christmas";
  font-weight: normal;
  font-size: 50px;
  border-bottom: 2px solid #630000;
}
.carousel-style a:hover {
  color: #630000;
}
.carousel-style a:link,
a:visited {
  color: #eeebdd;
  text-decoration: none;
}
.carousel-style p {
  font-family: "montserrat";
  font-weight: normal;
}

.carousel-caption {
  align-items: center;
}
.carousel-inner > .item > img {
  width: 640px;
  height: 360px;
}
.accordion {
  width: 50%;
}
.accordion-item {
  background-color: #eeebdd;
}
.accordion-button {
  color: #eeebdd;
  background: #630000;
}
.list-group-item a {
  color: black;
}
.list-group-item {
  background-image: url("/Assets/blog/winter-g276990c28_1920.jpg");
}
.list-group-item {
  font-family: "montserrat";
}

/* Taget från en utmaning jag gjorde på css-battle */
div.body {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid black;
}
div.head {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  margin: -150px 0px 0px 20px;
  display: flex;
  border: 3px solid black;
}
.scarf {
  background: #173611;
  width: 80px;
  height: 18px;
  margin: -16px 0px 0px 15px;
}
#scarf.scarf {
  background: #ffa63f;
  width: 60px;
  height: 10px;
  margin: -14px 0px 0px 20px;
  border-radius: 10px;
}
.nose {
  background: #ffffff;
  width: 9px;
  height: 10px;
  margin: 1px -11px px 5px;
}
.eyes {
  width: 10px;
  border-right: 1px solid white;
  position: relative;
  top: 15px;
  height: 10px;
  background: black;
  left: 14px;
  border-radius: 50%;
}
.hat {
  position: relative;
  background: #0e1f2b;
  height: 45px;
  width: 40px;
  top: -92px;
  left: 30px;
}
.rim {
  background: #0e1f2b;
  position: relative;
  top: 40px;
  right: 10px;
  height: 5px;
  width: 60px;
}
.white {
  background: #ffffff;
  width: 40px;
  position: absolute;
  display: block;
  top: 15px;
  height: 10px;
}
.snowman {
  position: absolute;
  top: 190px;
  left: 80px;
}
