body {
  background-color: #eeebdd;
}
.container-fluid-december {
  background-image: url("../Assets/blog/dog-5793625_1920.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  background-attachment: fixed;
}
.container-fluid-november {
  background-image: url("../Assets/blog/christmas-6875109_1920.jpg");
  background-repeat: no-repeat;
  background-position-x: -1000px;
  background-size: cover;
}
.container-fluid-october {
  background-image: url("../Assets/blog/snowflake-1918794_1920.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.opacity {
  opacity: 50%;
}
.quote-shadow {
  text-shadow: 2px 1px 2px black;
  font-size: 2rem;
}

.card {
  width: 100%;
}
p {
  font-family: "montserrat";
}

.font-color {
  color: #eeebdd;
}

section {
  display: flex;
  justify-content: center;
}
.blog-date {
  justify-content: flex-end;
}
.blog-card {
  border: 3px solid #eeebdd;
  border-style: outset;
  background-color: transparent;
  margin: 0px 2rem 0px 2rem;
  max-width: 1250px;
}
.h-box {
  background: #630000;
  font-family: "Mountains of Christmas";
}
.blog-card img {
  max-inline-size: 1250px;
  width: 100%;
}
.blog-card p {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(58, 58, 58);
  line-height: 1.8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.blog-card h2,
h4 {
  color: #eeebdd;
  padding-bottom: 4px;
  text-align: center;
  font-size: 5rem;
  text-shadow: 2px 2px rgba(231, 204, 50, 0.233);
}
.endblog p {
  font-size: 1rem;
  background: #630000;
  color: #eeebdd;
  text-shadow: none;
}
.accordion {
  width: 50%;

  max-width: 1000px;
}
.accordion-item {
  background-color: #eeebdd;
}
.accordion-body {
  font-size: 25px;
}
.accordion-button {
  font-family: "Mountains of Christmas";
  color: #eeebdd;
  background: #630000;
  font-size: 40px;
}
.list-group-item a {
  color: black;
  text-decoration: none;
}
.list-group-item {
  background-image: url("../Assets/blog/winter-g276990c28_1920.jpg");
}
.list-group-item {
  font-family: "montserrat";
}
/* Lånad av Sofia, modal hjälp component */

.modal-button.btn {
  color: #eeebdd;
  font-weight: bold;
  background-color: #810000;
  box-shadow: 0px 2px 5px #1b1717;
  max-width: 200px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
}
.modal-button.btn:hover {
  background-color: #630000;
  color: #eeebdd;
  transform: scale(1.1);
}

.modal-icon {
  position: fixed;
  bottom: 0;
  text-align: end;
  right: 0;
  opacity: 0.8;
  transition-property: transform;
  transition-duration: 0.2s;
  animation: pulse-button 1.5s infinite;
}

.modal-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.button-icon.btn {
  width: 200px;
}

@keyframes pulse-button {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.modal-dialog div.modal-content {
  background-color: #eeebdd;
  border-color: #630000;
}

.modal-dialog div.modal-header {
  font-family: "Mountains of Christmas";
}
