.main-layout-container {
  border-right: 2px solid #630000;
  border-left: 2px solid #630000;
  border-style: outset;
  margin: 0px 2rem 0px 2rem;
  overflow: hidden;
  max-width: 100%;
}

.padding {
  padding: 1rem;
}
.brand-name {
  font-family: "Mountains of Christmas";
}
.container-bg {
  background-image: url("/Assets/blog/snowheader.jpg");

  height: 300px;
  width: 100%;

  display: flex;
  align-items: center;
}
.container_diy {
  width: 50%;
  height: 200px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-inline: auto;
  display: flex;

  border: 3px solid #eeebdd;
  border-style: outset;
  overflow: hidden;
}
@media screen and (max-width: 990px) {
  .font-color-and-shadow {
    width: 80%;
    height: 280px;
  }
}
.container_diy p {
  font-family: "montserrat";
}

.font-color-and-shadow {
  align-items: center;
  background-color: transparent;
  color: white;
  text-shadow: -4px 4px 4px black;
}

.card-wrap {
  margin-bottom: 10rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 990px) {
  .card-wrap {
    flex-direction: column;
    align-items: center;
  }

  .card-wrap *,
  .card * {
    width: 100%;
  }
}

.card {
  border-radius: 5%;
  margin: 0px 6px 0px 6px;
}
.card-wrap h5 {
  font-family: "Mountains of Christmas";
  font-weight: normal;
  font-size: 25px;

  border-bottom: 2px solid #630000;
}
.btn-primary {
  background: #630000;
  border: none;
}
.btn-primary:hover {
  color: #630000;
  background: none;
}

.snow-icon-container {
  background-image: url("/Assets/blog/snow2.svg");
  height: 500px;

  margin-top: 3rem;
  width: 100%;
}
.accordion-flex {
  display: flex;
  justify-content: center;
}
.accordion {
  margin-top: 3rem;
  width: 50%;
  box-shadow: 0px 0px 5px 0px black;
}
.accordion-item {
  background-color: #eeebdd;
}
.accordion-button {
  color: #eeebdd;
  background: #630000;
  font-family: "Mountains of Christmas";
  font-size: 1.5rem;
}
.accordion-button:not(.collapsed) {
  color: #630000;
}
.list-group-item a {
  color: black;
}
.list-group-item {
  background-image: url("/Assets/blog/winter-g276990c28_1920.jpg");
}
.list-group-item {
  font-family: "montserrat";
}

/* CSS:Battle snögubbe */
div.body {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
}
div.head {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;

  margin: -150px 0px 0px 20px;
  display: flex;
}
.scarf {
  background: #eeebdd;
  width: 80px;
  height: 18px;
  margin: -16px 0px 0px 15px;
}
#scarf.scarf {
  background: #ffa63f;
  width: 60px;
  height: 10px;
  margin: -14px 0px 0px 20px;
  border-radius: 10px;
}
.nose {
  background: #ffffff;
  width: 9px;
  height: 10px;
  margin: 1px -11px 0px 5px;
}
.eyes {
  width: 10px;
  border-right: 1px solid white;
  position: relative;
  top: 15px;
  height: 10px;
  background: black;
  left: 14px;
  border-radius: 50%;
}
.hat {
  position: relative;
  background: #0e1f2b;
  height: 45px;
  width: 40px;
  top: -92px;
  left: 30px;
}
.rim {
  background: #0e1f2b;
  position: relative;
  top: 40px;
  right: 10px;
  height: 5px;
  width: 60px;
}
.white {
  background: #ffffff;
  width: 40px;
  position: absolute;
  display: block;
  top: 15px;
  height: 10px;
}
.css-logo-container {
  display: flex;
  justify-content: center;
}
.snowman {
  justify-content: flex-end;
  align-items: center;
}

/* Lånad av Sofia, modal hjälp component */

.modal-button.btn {
  color: #eeebdd;
  font-weight: bold;
  background-color: #810000;
  box-shadow: 0px 2px 5px #1b1717;
  max-width: 200px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.2s;
}
.modal-button.btn:hover {
  background-color: #630000;
  color: #eeebdd;
  transform: scale(1.1);
}

.modal-icon {
  position: fixed;
  bottom: 0;
  text-align: end;
  right: 0;
  opacity: 0.8;
  transition-property: transform;
  transition-duration: 0.2s;
  animation: pulse-button 1.5s infinite;
}

.modal-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.button-icon.btn {
  width: 200px;
}

@keyframes pulse-button {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.modal-dialog div.modal-content {
  background-color: #eeebdd;
  border-color: #630000;
}

.modal-dialog div.modal-header {
  font-family: "Mountains of Christmas";
}
